body{
    background: pale rgb(220, 220, 250);
    font-style: inherit;
    margin:0;
    padding-bottom:0px;
}
/* Header*/

header { background: lavender;
  color: rgb(185, 123, 235);
  padding-bottom: 20px;
  font-style:unset;
  font-size: 30px;
  text-align:center;
}
header.div{
  color: antiquewhite;
}

ul{ 
  margin: 0;
  padding: 0%;
  list-style: none;
}
li{

  margin: 0 20px 0 0; 
  display: inline-block;
  background-color: rgb(195, 168, 219);
  margin:20px;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  transition:0.5s;
}

a{text-decoration: none;
}
li:first-child{margin:0}

a:hover{ 
  box-shadow: 0 0 20px 0 rgb(234, 234, 245);}


header .mobile {
  display: none;
  padding-bottom: 20px
}

 /*Responsive*/

 @media screen and (max-width:700px) {
  
  header .moblie {
    display: inline-block;
  }
  .text-box h1{
    font-size: 20px;
  }
    header .dekstop{
      display: none;
    }
  }

  /*Features*/

.feature-box.one { background: white;
  color: darkgray;
  padding:0;
  margin: 0;
  width: 100%;
  font-style: italic;
  font-size: 30px;
  display:Column;
}

.features figure{
  margin: auto;
  padding: 5px;
  width: 200px;
  text-align: center;
}
.feature-box.two{background-color: white;
 color:rgb(195, 142, 226);
 padding:0;
 margin:0;}

.text-box h1 {
  font-size: 40px;
  text-align: center;

}
.text-box{
  width: 90%;
  color:darkgray;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 225px;
}
.text-box p{
  color:rgb(195, 142, 226);
  font-style: oblique;
  font-size: 20px;
}


/*Responsive*/

@media screen and (max-width:700px) {
  
  .features{
    display: block;
  }
}

/*CV*/

.Resumes{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 175px;
  color: darkgray;
}

h1.Resumes{
  font-size:35px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.Resumes-column{
  flex-basis: 30%;
  margin-top: 50px;
  background:rgb(239, 231, 243);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px 11px;
  box-sizing: border-box;
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

/*Contacts*/

.Contacts{
  margin:0;
  padding:0;
  text-align: center;
  color:darkgray;
}
.Contacts h1{
  font-style: italic ;
  color:rgb(195, 142, 226);
}
.Contacts h3{
  font-style:initial;
  color:darkgray
}
form{
  margin-top: 50px;
  text-align: center;
}
.form-control{
  width:500px;
  background:rgb(239, 231, 243);
  border:none;
  border-bottom: 2px darkgray;
  color:rgb(171, 140, 189) ;
  font-size:15px ;
  margin-bottom: 15px;
  padding: 10px;

}
input{
  height: 40px;
}
form .Submit{
  background:rgb(239, 231, 243); 
  color: rgb(211, 164, 211);
  font-size: 20px;
  height:40px;
  width: 90px;
  margin-top:20px ;
  border-radius: 6px;
}
form .Submit:hover{
  background-color: rgb(190, 128, 196);
}



  /*Footer*/

 footer{
     background:darkgray;
     color: white;
     padding:20px;
     text-align: center;
     font-style: inherit;

 }